.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailLabel {
    padding: 20px;
}

.usernameLabel {
    padding: 20px;
}

.passwordLabel {
    padding: 20px;
}


